body {
    background-color: chartreuse;
}
.navbar {
    background-color: red;
}

#carouselExample {
    width: 70%;
    margin: 0 auto
}

.carousel-item img {
    height: 500px;
}

i {
    font-size: 30px;
}

.bi-linkedin {
    color: blue;
}

.bi-instagram {
    color: red;
}

.bi-tiktok {
    color: blueviolet;
}